
body {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  .Machinery {
    background-color: #f7f7f7; 
    padding: 20px;
    border: 1px solid #ddd; 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width: 80%; 
    margin: 40px auto; 
  }
  
  .Machinery h3 {
    color: #333; 
    margin-top: 0; 
  }
  
  .Machinery p {
    font-size: 18px; 
    margin-bottom: 20px; 
  }
  
  .Machinery img {
    width: 75%; 
    height: 450px; 
    object-fit: cover; 
    border-radius: 10px; 
    margin-bottom: 20px; 
  }